* {
    box-sizing: border-box;
    margin: 0;
}

body {
    position: relative;
    height: 100vh;
}

.background1,
.background2 {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-size: cover;
    background-position: 50% 60%;
    transition: opacity ease-in-out 1s;
    opacity: 0;
}  

.active-bg {
    opacity: 1;
}

#search-element {
    color: black;
    padding: 2rem;
    background-color: rgba(255, 255, 255, .85);
    border-radius: 10px;
    width: min(500px, 80vw);
    position: absolute;
    top: 1rem;
    left: 1rem;
}

input {
    width: 45%;
}

input:focus {
    outline: none;
}

button {
    appearance: none;
    margin-left: -10px;
    background-color: rgb(255, 0, 0);
    border: solid 2.1px rgb(255, 0, 0);
    color: white;
}

button:hover {
    background-color: rgb(205, 0, 0);
    border: solid 2.1px rgb(205, 0, 0);
    cursor: pointer;
}

button:active {
    background-color: rgb(155, 0, 0);
    border: solid 2.1px rgb(155, 0, 0);
    transform: 5px 5px;
}

#banner {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    top: 40vh;
    width: 100%;
    background-color: rgba(255, 255, 255, .85);
    padding: 2rem;
}

#banner>p {
    padding-left: 1rem;
}

#weather-container {
    opacity: 0;
    transition: opacity 1s;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    color: black;
    padding: 2rem;
    background-color: rgba(255, 255, 255, .85);
    border-radius: 10px;
    width: min(500px, 80vw);
    position: absolute;
    top: 9rem;
    left: 1rem;
    height: fit-content;
    text-align: center;
}

#icon {
    width: 200px;
    height: auto;
}

#time {
    color: red;
}

footer {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: .5rem;
    background-color: rgba(255, 255, 255, .85);
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: .8rem;
}
a>img {
    width: 24px;
    height: auto;
}

#credit {
    font-size: .8rem;
}